<h1>New Move</h1>

<%= render 'form', move: @move %>

<i class="material-icons" style="text-decoration: none; background-color: red; font-size: 35px">
  <%= link_to 'delete', moves_path, style: 'color:white' %>
</i>

